
.nav-bar--logo img{
    width: 120px;
}

.nav-items a {
    font-size: 3rem;
}

.social-items img{
    width: 40px;
}
.social-items .youtube{
    width: 35px;
    padding: 0;
    margin-top: 10px;
}

.division-bandifo__icon {
    top: -20px;
}

.bandinfo-history-container h1{
    width: 200px;
    font-size: 3rem;
}

.bandinfo-history-container .bandinfo-paragraph-container{
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.bandinfo-history-container .bandinfo-paragraph-container p{
    margin: 20px;
}


.bandmebers-title{
    width: 200px;
    font-size: 3rem;
    top: -30px;
}

.bandmembers_container {
    height: 430px;
    padding-top: 30px;
}

.bandmembers-profile_slider {
    height: 360x;
    padding-top: 25px;
}

.bandmembers-profile-container {
    width: 240px;
    height: 320px;
    padding-top: 5px;
}

.bandmenbers-member-container{
    width: 240px;
    height: 310px;
    padding-top: 5px;
}


.bandmembers-profile-container img{
    width: 230px;
    border-radius: 3px;
}

.bandmembers-profile_name {
    font-size: 2.6rem;
}

.shop-container{
    padding-top: 40px;
}


.shop-container_title {
    width: 200px;
    font-size: 3rem;
    margin-bottom: 40px;
}

.shop-items-container .note_shop{

    font-size: 2rem;
}

.shop-items{
    width: 350px;
    height: 370px;
}

.shop-items img{
    width: 300px;
    height: 300px;
}

.shop-items h3{
    font-size: 2.4rem;
}

.shop-items p{
    font-size: 2.2rem;
}

footer{
    height: 90px;
    padding-top: 25px;
}

footer h4{
    font-size: 1.6rem;

}
footer p{
    font-size: 1.6rem;
}
