.nav-bar--logo img{
    width: 80px;
}


.nav-items a {
    font-size: 2.1rem;
}

.social-items img{
    width: 30px;
    margin: 0 3px;
}

.social-items .youtube{
    width: 25px;
    padding: 0;
    margin-top: 10px;
}

.language > a {
    width: 20px;
    height: 17px;
}


.bandmembers_container{
    width: 90%;}


.bandmembers-profile_slider {
    justify-content: space-evenly;
    overflow-y: unset;
    overscroll-behavior-x: unset;
}

.left-item{
   display: none;

}

 .right-item{
   display: none;
}

.bandmembers-profile-container{
    width: 140px;
    margin: 0;
}
.bandmembers-profile_slider{
    display: flex;
    flex-direction: row;
}

.bandmembers-profile-container.oscar{
    order: 1;
}

.bandmembers-profile-container.john{
    order: 0;
}

.bandmembers-profile-container.quique{
    order: 0;
}


.shop-items-container{
    justify-content: space-evenly;
    flex-direction: row;
}


.shop-items{
    display: inline-block;
    
}