.nav-bar--logo img{
    width: 130px;
}

.nav-items a {
    font-size: 3.4rem;
}

.bandinfo-history-container h1{
    top: 23px;
    font-size: 3.5rem;
}


.bandinfo-history-container .bandinfo-paragraph-container{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    margin-top: 10px;
}

.bandinfo-history-container .bandinfo-paragraph-container p {
    margin: 20px;
}

.bandmembers_container{
    height: 510px;
    padding-top: 40px;
}

.bandmebers-title{
    width: 250px;
    font-size: 3.5rem;
    top: -30px;
}

.bandmembers-profile_slider {
    height: 400px;
    padding-top: 25px;
}

.bandmembers-profile-container {
    width: 290px;
    height: 390px;
    padding-top: 5px;
}

.bandmenbers-member-container{
    width: 290px;
    height: 370px;
    padding-top: 5px;
}


.bandmembers-profile-container img{
    width: 280px;
    border-radius: 3px;
}

.bandmembers-profile_name {
    font-size: 2.8rem;
}

.bandmembers-profile-container p {
    font-size: 2.6rem;
}


.shop-container_title{
    width: 250px;
    font-size: 3.5rem;
}

.shop-items-container .note_shop{

    font-size: 2.2rem;
}

.shop-items{
    width: 350px;
    height: 380px;
}

.shop-items img{
    width: 300px;
}

.shop-items h3{
    font-size: 2.8rem;
}

.shop-items p{
    font-size: 2.6rem;
}

footer h4{
    font-size: 1.8rem;

}
footer p{
    font-size: 1.8rem;
}
